

#body {
    background-image: url("background.png");
    margin-bottom:20px;
}

input {
    border: none;
    outline: none;
}

.container {
    border-radius: 15px
    
}

@media(min-width:992px) {
    img {
        width: 500px;
        height: 500px;
        margin-top: 50px;
    }   
}

@media(max-width:991px) {

    .container {
        background-image: linear-gradient(to bottom, rgb(255, 255, 255) 80%, rgb(242, 242, 253), rgb(164, 164, 235))
    }
}




